.center-loader {
  font-size: large;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes blink {
  50% {
    color: transparent
  }
}

.loader__dot {
  animation: 1s blink infinite;
  font-size: x-large;
}

.loader__dot:nth-child(2) {
  animation-delay: 250ms;
  font-size: x-large;
}

.loader__dot:nth-child(3) {
  animation-delay: 500ms;
  font-size: x-large;
}