@import '../../../../styles-variables';

.enter-transfer {
  .main-heading {
    text-transform: uppercase;
    margin: 0 0 20px 0;
    text-align: center;
  }

  mat-card {
    margin-bottom: 20px;
  }

  mat-checkbox {
    margin: 10px 0 20px 0;
  }

  mat-slider {
    width: 100%;
  }

  .buttons {
    margin: 30px 0px;

    button {
      width: 30%;
    }
  }

  .option-input {
    position: absolute;
    left: 0;
    bottom: -14px;
    font-size: 11px;
  }

  .sub-info {
    padding-left: 16px;
    top: -16px;
    position: relative;
  }

  .quantity-functions {
    position: relative;
    top: -5px;

    span {
      top: 5px;
    }
  }
}