<div class="container enter-transfer" rtl>
  <div class="row">
    <div class="col">
      <h1 class="main-heading">{{ 'pca.features.transfer.form.formName' | translate }}</h1>
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <mat-card>
          <!-- From -->
          <!-- The id of the manufacturer who the admin is currently representative -->
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'pca.features.transfer.form.fromTenantId' | translate }}"
                formControlName="fromTenantId" [matAutocomplete]="autoFrom">
              <mat-autocomplete #autoFrom="matAutocomplete" [displayWith]="displayTenantFn">
                <mat-option *ngFor="let option of tenantFromFilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div *ngIf="form.get('fromTenantId').value['registrationCode']" class="sub-info">
            <div class="row">
              <div class="col-3">registrationCode</div>
              <div class="col-9">{{form.get('fromTenantId').value['registrationCode']}}</div>
            </div>
            <div class="row">
              <div class="col-3">primaryAddress</div>
              <div class="col-9">{{form.get('fromTenantId').value['primaryAddress']}}</div>
            </div>
          </div>

          <!-- To -->
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'pca.features.transfer.form.toTenantId' | translate }}"
                formControlName="toTenantId" [matAutocomplete]="autoTo">
              <mat-autocomplete #autoTo="matAutocomplete" [displayWith]="displayTenantFn">
                <mat-option *ngFor="let option of tenantToFilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="form.get('toTenantId').invalid">
                {{ 'pca.features.transfer.form.toTenantId' | translate }}
                {{ 'pca.features.transfer.form.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="form.get('toTenantId').value['registrationCode']" class="sub-info">
            <div class="row">
              <div class="col-3">registrationCode</div>
              <div class="col-9">{{form.get('toTenantId').value['registrationCode']}}</div>
            </div>
            <div class="row">
              <div class="col-3">primaryAddress</div>
              <div class="col-9">{{form.get('toTenantId').value['primaryAddress']}}</div>
            </div>
          </div>

          <!-- Medicine -->
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="text" placeholder="{{ 'pca.features.transfer.form.medicine' | translate }}"
                (focus)="onFocusMedicine()" formControlName="medicineId" [matAutocomplete]="autoMedicine">
              <mat-autocomplete #autoMedicine="matAutocomplete" [displayWith]="displayMedicineFn">
                <mat-option *ngFor="let option of medicineFilteredOptions | async" [value]="option">
                  {{option.commercialName}} / {{option.registrationCode}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="form.get('medicineId').invalid">
                {{ 'pca.features.transfer.form.medicine' | translate }}
                {{ 'pca.features.transfer.form.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Batch -->
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="text" placeholder="{{ 'pca.features.transfer.form.batch' | translate }}"
                (focus)="onFocusBatch()" formControlName="medicineBatchId" [matAutocomplete]="autoBatch">
              <mat-autocomplete #autoBatch="matAutocomplete" [displayWith]="displayBatchFn">
                <mat-option *ngFor="let option of batchFilteredOptions | async" [value]="option">
                  {{option.batchNumber}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="form.get('medicineBatchId').invalid">
                {{ 'pca.features.transfer.form.batch' | translate }}
                {{ 'pca.features.transfer.form.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="form.get('medicineBatchId').value['batchNumber']" class="sub-info">
            <div class="row">
              <div class="col-3">manufactureDate</div>
              <div class="col-9">{{form.get('medicineBatchId').value['manufactureDate']}}</div>
            </div>
            <div class="row">
              <div class="col-3">expiryDate</div>
              <div class="col-9">{{form.get('medicineBatchId').value['expiryDate']}}</div>
            </div>
          </div>

          <!-- Quantity -->
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'pca.features.transfer.form.quantity' | translate }}"
                formControlName="quantity">
              <div matSuffix class="quantity-functions">
                <span matSuffix
                  *ngIf="form.get('medicineBatchId').value['unit']">({{form.get('medicineBatchId').value['unit']}})
                  &nbsp;</span>
                <button mat-stroked-button (click)="onClickSubQuantity();false"
                  [disabled]="form.get('quantity').value === 1">
                  <fa-icon icon="minus"></fa-icon>
                </button>
                <button mat-stroked-button (click)="onClickAddQuantity();false"
                  [disabled]="form.get('quantity').value === form.get('medicineBatchId').value['quantity']">
                  <fa-icon icon="plus"></fa-icon>
                </button>
              </div>
              <mat-error *ngIf="form.get('quantity').invalid">
                {{ 'pca.features.transfer.form.quantity' | translate }}
                {{ 'pca.features.transfer.form.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Group button -->
          <div class="row buttons d-flex justify-content-between pad" [ngClass]="routeAnimationsElements">
            <button class="w-100" mat-stroked-button color="primary" [routerLink]="['/feature-list']">
              {{ 'pca.features.transfer.form.cancel' | translate }}
            </button>
            <button class="w-100" mat-raised-button color="primary" (click)="submit()">
              {{ 'pca.features.transfer.form.submit' | translate }}
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>