<div [class]="'theme-wrapper ' + (theme$ | async)">
  <mat-sidenav-container>
    <!-- Menu bar on the left side is default be hiden -->
    <mat-sidenav *ngIf="isAuthenticated" #sidenav mode="side" [opened]="isLgScreen">
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="onClickSidenav(sidenav)"
          [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label | translate}}
        </a>
        <a mat-list-item (click)="onLogoutClick()">
          Logout
        </a>
      </mat-nav-list>

      <!-- user info -->
      <div class="user-info">
        <div>Welcome <h3 style="display: contents">
            {{  user?.roles | uppercase}}</h3> !
        </div>
        <div>
          <img src="{{ user?.picture }}">
          <i>{{ user?.email }}</i>
        </div>
      </div>
    </mat-sidenav>

    <div *ngIf="isAuthenticated" class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'"
      [class.mat-elevation-z4]="(stickyHeader$ | async)">
      <mat-toolbar color="primary">
        <!-- menu icon -->
        <button #menuIcon mat-icon-button class="d-lg-none" (click)="onClickSidenav()">
          <fa-icon icon="bars"></fa-icon>
        </button>

        <!-- logo -->
        <span routerLink="" class="branding spacer center d-inline d-sm-none">
          <img [src]="logo" />
        </span>
        <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none">
          <img [src]="logo" />
        </span>
        <span routerLink="" class="branding spacer d-none d-md-inline">
          <img [src]="logo" />
        </span>

        <!-- dashboard -->
        <button mat-icon-button routerLink="dashboard" class="d-none d-sm-inline">
          <fa-icon icon="tachometer-alt"></fa-icon>
        </button>
        <!-- notification -->
        <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
          <fa-icon icon="bell"></fa-icon>
        </button>
        <!-- user -->
        <button mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
          <fa-icon icon="user-circle"></fa-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>
              <fa-icon icon="power-off"></fa-icon>
            </mat-icon>
            <span>{{ 'pca.menu.logout' | translate }}</span>
          </button>
        </mat-menu>

        <!-- language -->
        <span *ngIf="language$ | async as language">
          <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
            <mat-option *ngFor="let l of languages" [value]="l">
              {{ l.toUpperCase() }}
            </mat-option>
          </mat-select>
        </span>
      </mat-toolbar>
    </div>

    <!-- wrapper right side -->
    <div class="wrapper">
      <pca-http-loader></pca-http-loader>

      <!-- outlet -->
      <div [ngClass]="{'content-margin-top': isAuthenticated}" class="content"
        [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data['title']">
        <router-outlet #o="outlet"></router-outlet>
      </div>

      <!-- footer -->
      <div *ngIf="isAuthenticated" class="footer" (click)="getUser()">
        <div class="row">
          <div class="col-6 links">
            <a href="https://github.com/pharmaceutical-chain" target="_blank">
              <fa-icon [icon]="['fab','github']"></fa-icon>
              <span>Github</span>
            </a>
            <a href="https://github.com/pharmaceutical-chain" target="_blank">
              <fa-icon [icon]="['fab','medium-m']"></fa-icon>
              <span>Medium</span>
            </a>
            <a href="https://github.com/pharmaceutical-chain" target="_blank">
              <fa-icon [icon]="['fab','twitter']"></fa-icon>
              <span>Twitter</span>
            </a>
          </div>
          <div class="col-6 signature">
            &#169; <span class="year">{{year}}</span> - PharmaChain Group
            <br class="d-block d-sm-none">
            <a [matTooltip]="'pca.footer.changelog' | translate" matTooltipPosition="before"
              href="https://github.com/pharmaceutical-chain">
              <fa-icon icon="rocket"></fa-icon>
              {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</div>