@import '../../styles-variables';

.theme-wrapper {
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;

  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;
    left: 0;

    .nav-button {
      margin: 0 10px 0 0;
    }

    fa-icon {
      font-size: 24px;
    }

    .branding {
      cursor: pointer;
      overflow: hidden;
      padding-top: 4px;
      text-overflow: ellipsis;

      &.center {
        text-align: center;
      }

      img {
        position: relative;
        height: 70px;
      }
    }

    .mat-stroked-button {
      margin-right: 10px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    mat-select {
      margin: 0 0 0 20px;
      width: 40px;
      font-size: 14px;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .nav-button {
        min-width: 0;
        padding: 0 10px;
      }
    }
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1 0 auto;
      overflow: hidden;
    }

    .content-margin-top {
      margin-top: 64px;
    }

    .footer {
      flex: 0 0 auto;
      padding: 0 15px;
      text-align: center;
      z-index: 10;

      .row {
        padding: 10px 0;

        .links {
          a {
            transition: padding 0.5s;
            display: inline-block;
            padding: 20px 5px;

            &:hover {
              text-decoration: none;
            }

            fa-icon {
              font-size: 30px;
              width: 35px;
            }

            span {
              display: inline-block;
              width: 75px;
              padding: 0 0 0 3px;
              overflow: hidden;
              text-align: left;
              white-space: nowrap;
              transition: width 0.5s;
            }
          }

          @media (min-width: map-get($grid-breakpoints, lg)) {
            a {
              padding: 20px 5px;
            }
          }

          @media (max-width: map-get($grid-breakpoints, md)) {
            a {
              padding: 20px;

              span {
                width: 0;
                padding: 0;
              }
            }
          }

          @media (max-width: map-get($grid-breakpoints, sm)) {
            a {
              padding: 20px 5px;
            }
          }
        }

        @media (min-width: map-get($grid-breakpoints, sm)) {
          .signature {
            position: relative;
            margin: auto;

            a {
              position: absolute;
              right: 15px;
            }
          }
        }
      }
    }
  }

  mat-sidenav {
    width: 20%;
    min-width: 196px;
    z-index: 1;
    padding: 80px 0;

    .mat-nav-list {
      padding-top: 0;

      ::ng-deep {
        .mat-list-item-content {
          padding: 0 15%;
        }
      }
    }

    .user-info {
      position: absolute;
      bottom: 0;
      padding: 24px 15%;
      text-align: center;

      div:last-child {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      img {
        border-radius: 50%;
        margin-top: 16px;
        width: 40%;
      }
    }
  }

  @media (max-width: $toolbar-breakpoint) {
    .content-margin-top {
      margin-top: 56px !important;
    }
  }

  @media (max-width: 1067px) {
    mat-sidenav {
      .mat-nav-list {
        ::ng-deep {
          .mat-list-item-content {
            padding: 0 16px;
          }
        }
      }

      .user-info {
        padding: 24px 16px;
      }
    }
  }

  @media (max-width: 576px) {
    .branding {
      img {
        height: 60px !important;
      }
    }
  }
}
