@import '../../../../styles-variables';

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;
  text-align: center;
  padding: 24px 16px 16px 16px;
  cursor: pointer;

  mat-card-title {
    position: relative;
    font-size: 20px;
  }

  mat-card-subtitle {
    min-height: 60px;
    position: relative;

    div {
      display: flex;
      justify-content: center;
    }

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: 60px;
    }
  }

  fa-icon {
    position: absolute;
    display: flex;
    margin: 6px;
    font-size: 48px;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }

  ::ng-deep {
    mat-card-subtitle {
      div:not(.mat-badge-hidden) {
        .mat-badge-content {
          right: 48px !important;
        }
        .mat-badge-content.mat-badge-active {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}