@import '~@angular/material/theming';

@mixin pca-feature-list-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  pca-feature-list {
    fa-icon {
      color: mat-color($primary);
    }

    mat-card {
      &:hover {
        fa-icon {
          font-size: 56px;
          color: mat-color($accent) !important;
        }
      }
    }
  }
}