@import '../../../../styles-variables';

.overview-tenant {
  .main-heading {
    text-transform: uppercase;
    margin: 0 0 20px 0;
    text-align: center;
  }

  mat-tab-group {
    ::ng-deep {
      .mat-tab-header-pagination {
        display: none !important;
      }
    }

    mat-panel-description {
      flex-grow: 0;
    }
  }

  .row-data {
    display: -webkit-box;

    .data-label {
      text-align: right;
      color: gray;
    }

    .txh-link {
      cursor: pointer;
    }
  }

  .function-tenant-container {
    padding-top: 16px;
    text-align: right;

    .function {
      margin-left: 8px;
    }
  }

  .paginator-container {
    padding-top: 32px;

    mat-paginator {
      ::ng-deep {
        .mat-paginator-navigation-previous {
          margin-right: 10px;
        }
      }
    }

    .current-page-container {
      position: absolute;
      right: 100px;
      bottom: -5px;
      width: 16px;
      text-align: center;

      input {
        font-size: 12px;
      }
    }
  }
}
