@import '~@angular/material/theming';

@mixin pca-about-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  pca-about {
    .sign-in {
      color: mat-color($foreground, text, 0.6);

      .gradient {
        &::before {
          background: linear-gradient(
            to bottom,
            mat-color($primary, 0) 0%,
            mat-color($primary, 0.5) 100%
          );
        }
      }
    }
  }
}
