<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'pca.title.long' | translate }}</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../feature-list">
          {{ 'pca.menu.features' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="routeAnimationsElements">
          {{ 'pca.about.change-theme' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
