@import '../../../../styles-variables';

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: center;
}
mat-card {
  margin-bottom: 20px;
}
mat-checkbox {
  margin: 10px 0 20px 0;
}
mat-slider {
  width: 100%;
}
.buttons {
  margin: 20px 0px;
}


pdf-viewer {
  display: block;
}

.error {
  color: #ff4146;
}

#progress {
  margin-top: 50px;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#progress .bar,
#progress .bg {
  height: 20px;
}

#progress .bg {
  background-color: #e3e3e3;
}

#progress .bar {
  width: 0;
  max-width: 100%;
  background-color: #3f51b5;
  transition: .5s width;
}