<div class="container" rtl>
  <div class="row">
    <div class="col">
      <h1 class="main-heading">{{ 'pca.examples.form.title' | translate }}</h1>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <mat-card>
          <!-- Business name -->
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'pca.examples.form.placeholder1' | translate }}"
                formControlName="username">
              <mat-error *ngIf="form.get('username').invalid">
                {{ 'pca.examples.form.placeholder1' | translate }}
                {{ 'pca.examples.form.error1' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Business register certificate code, Tax code -->
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="password" placeholder="{{ 'pca.examples.form.placeholder2' | translate }}"
                formControlName="password">
              <mat-error *ngIf="form.get('password').invalid">
                {{ 'pca.examples.form.placeholder2' | translate }}
                {{ 'pca.examples.form.error1' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'pca.examples.form.placeholder5' | translate }}">
              <!-- <mat-error *ngIf="form.get('email').hasError('required')">
                  {{ 'pca.examples.form.placeholder5' | translate }}
                  {{ 'pca.examples.form.error1' | translate }}
                </mat-error> -->
            </mat-form-field>
          </div>

          <!-- Type of business -->
          <div class="row">
            <mat-form-field class="col-6" [ngClass]="routeAnimationsElements">
              <mat-label>Type of business</mat-label>
              <mat-select>
                <mat-option *ngFor="let type of types" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Address -->
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'pca.examples.form.placeholder3' | translate }}" formControlName="email"
                type="email">
              <mat-error *ngIf="form.get('email').hasError('required')">
                {{ 'pca.examples.form.placeholder3' | translate }}
                {{ 'pca.examples.form.error1' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Import button -->
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'pca.examples.form.save' | translate }}">
              <input #file (change)="onFileSelected()" type="file" id="file" accept="application/pdf"
                multiple="multiple" style="display:none">
              <button (click)="file.click()" type="button" mat-raised-button color="accent" class="import-button">
                {{ 'pca.examples.form.reset' | translate }}
              </button>
            </mat-form-field>
          </div>

          <!-- Pdf loading progress -->
          <div class="row" *ngIf="isLoading" [ngClass]="routeAnimationsElements" class="progress-bar-container">
            <mat-progress-bar mode="indeterminate">
            </mat-progress-bar>
          </div>

          <!-- Pdfviewer -->
          <div class="row pdfViewer-container">
            <div *ngFor="let pdfSrc of (pdfSrc$ | async); let i=index" class="pdfViewer-item"
              [ngClass]="routeAnimationsElements">
              <mat-form-field *ngIf="currentPageRendered[i]" class="col">
                <input matInput placeholder="{{ 'pca.examples.form.placeholder4' | translate }}">
                <fa-icon class="remove-pdf-icon" icon="times"></fa-icon>
                <mat-error *ngIf="form.get('username').invalid">
                  {{ 'pca.examples.form.placeholder4' | translate }}
                  {{ 'pca.examples.form.error1' | translate }}
                </mat-error>
              </mat-form-field>
              <pdf-viewer [src]="pdfSrc.source" [original-size]="false" [autoresize]="true" [show-all]="false"
                [external-link-target]="'blank'" (page-rendered)="pageRendered($event,i)" (error)="onError($event,i)"
                (after-load-complete)="afterLoadComplete($event,i)">
              </pdf-viewer>
            </div>
          </div>

          <!-- Group button -->
          <div class="row buttons d-flex justify-content-between pad">
            <button mat-raised-button color="primary" [ngClass]="routeAnimationsElements">
              {{ 'pca.examples.form.send' | translate }}
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>