.big-input {
  height: 40px;
  width: 100%;
  transition: all 0.5s;
  display: flex;
  padding: 10px 10px 10px 20px;

  input {
    flex-grow: 1;
    border: 0;
    font-size: 18px;
    min-width: 100px;
  }
}
